.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  width: 520px;
  max-width: 100%;
  gap: 2.4rem;
}

.footer form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.footer label {
  font-family: var(--outfit);
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: var(--neutral-05);
}

.footer input,
.footer textarea {
  font-family: var(--outfit);
  font-size: 1.6rem;
  font-weight: 500;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--neutral-05);
  padding: 0.8rem 0;
  color: var(--neutral-01);
}

.footer textarea {
  height: 12.8rem;
  resize: none;
}

.footer input:focus,
.footer textarea:focus {
  outline: none;
  border-color: var(--neutral-01);
}

.footer input:-webkit-autofill,
.footer input:-webkit-autofill:hover,
.footer input:-webkit-autofill:focus,
.footer input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--neutral-01);
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px var(--neutral-08);
}

.footer button {
  padding: 1.6rem 2.4rem;
  border: 0.2rem solid var(--neutral-01);
  color: var(--neutral-01);
  font-family: var(--outfit);
  font-weight: 700;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s;
  font-size: 1.6rem;
  margin-top: 2.4rem;
  transition: transform .2s cubic-bezier(.55, .085, .68, .53);
}

.footer button:hover {
  border-color: var(--secondary-01);
  color: var(--secondary-01);
  transform: scale(1.04);
}

.social-media-content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.social-media-content ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.social-media-content ul li a {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 2.0rem;
  color: var(--neutral-04);
  transition: all .5s;
}

.social-media-content ul li a:hover,
.social-media-content ul li a:hover svg path {
  color: var(--secondary-01);
  fill: var(--secondary-01);
  transition: all .5s;
}

.brand {
  display: flex;
  padding-block: 3.2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--neutral-01);
  font-size: 2.0rem;
}

.brand a {
  color: var(--secondary-01);
  font-weight: 700;
  transition: var(--t-cubic-bezier-1);
}

.brand a:hover{
  transform: scale(1.1);
}

.nav-dot-container {
  position: fixed;
  top: 50%;
  right: 2.0rem;
  transform: translateY(-50%);
}

.nav-dot {
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 20px;
}

.nav-dot.active span {
  background: var(--secondary-01);
}

.nav-dot span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--neutral-06);
  transition: all 200ms ease;
  margin: auto;
}

@media (max-width:480px){
  .footer-container {
    flex-direction: column;
    gap: 3.2rem;
  }
}